<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Delete Confirmation</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="close()"><i class="bi bi-x"></i></button>
    </div>
  </div>
</div>
<div class="alert alert-warning" *ngIf="getUser()|async as user">
  <div class="card">
    <div class="card-body">
      Are you sure you want to delete student named {{user.name}} ?
    </div>
    <div class="card-footer">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="delete()">Yes</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
</div>
